/* Basic Typography */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');

html,
body {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  width: 98%;
  margin: 0 auto;
}

header {
  margin: inherit;
  background-color: #aa8f77;  /* Patterned after pug fur */
  margin-top: -21px;
  padding: 3px 0;
}

h1 {
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  font-variant: small-caps;
  letter-spacing: 1.25px;
  color: #ffffff; /* White */
  text-align: center;
  text-shadow: 3.5px 4.5px 5px #900c3f;
}

#dogBreeds {
  padding-top: 35px;
}

#dogList {
  width: 850px;
  margin: 12px auto 75px auto;
  border: 2px outset #aa8f77;
  border-collapse: collapse;
}

#dogList caption {
  display: none;
}

#dogList th {
  border: 2.5px solid #900c3f;
  border-collapse: collapse;
  background-color: #aa8f77;
  color: #ffffff;
  padding: 9px 15px;
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-size: 21px;
  font-weight: 800;
  font-variant: small-caps;
  letter-spacing: 1.5px;
  text-align: center;
}

#dogList td {
  border: 2.5px solid #900c3f;
  border-collapse: collapse;
  padding: 9px 15px;
  text-align: center;
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-weight: 800;
  color: #900c3f;
}

#buttonBox {
  width: 1000px;
  background-color: #900c3f;
  border-radius: 12px;
  margin: 0 auto;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#buttonBox button,
#buttonBox button:visited {
  width: 215px;
  height: 45px;
  background-color: #aa8f77;
  border: 2px outset #ffffff;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

#buttonBox button:hover {
  background-color: #ffffff;
  border-color: #000000;
  color: #900c3f;
  font-weight: 800;
  transition: all ease-in-out 1s;
}

#buttonBox button:active {
  box-shadow: 2px 3px #000000;
  border-style: inset;
  transition: all ease-in-out 1s;
}

