/* Basic Typography */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');

html,
body {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  width: 98%;
  margin: 0 auto;
}

/* Header Styling */

header {
  margin: inherit;
  background-color: #aa8f77;  /* Patterned after pug fur */
  margin-top: -21px;
  padding: 3px 0;
}

header h1 {
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-size: 3rem;
  font-weight: 700;
  font-variant: small-caps;
  letter-spacing: 1.25px;
  color: #ffffff; /* White */
  text-align: center;
  text-shadow: 3.5px 4.5px 5px #900c3f;
}

#dogBreeds {
  padding-top: 35px;
}

#dogBreeds {
  padding-top: 35px;
}

#dogList {
  width: 850px;
  margin: 12px auto 75px auto;
  border: 2px outset #aa8f77;
  border-collapse: collapse;
}

#dogList caption {
  display: none;
}

#dogList th {
  border: 2.5px solid #900c3f;
  border-collapse: collapse;
  background-color: #aa8f77;
  color: #ffffff;
  padding: 9px 15px;
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-size: 21px;
  font-weight: 800;
  font-variant: small-caps;
  letter-spacing: 1.5px;
  text-align: center;
}

#dogList td {
  border: 2.5px solid #900c3f;
  border-collapse: collapse;
  padding: 9px 15px;
  text-align: center;
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-size: 21px;
  font-weight: 800;
  color: #900c3f;
}

#dogList td {
  border: 2.5px solid #900c3f;
  border-collapse: collapse;
  padding: 9px 15px;
  text-align: center;
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-size: 21px;
  font-weight: 800;
  color: #900c3f;
}

#dogList td {
  border: 2.5px solid #900c3f;
  border-collapse: collapse;
  padding: 9px 15px;
  text-align: center;
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-size: 21px;
  font-weight: 800;
  color: #900c3f;
}

#buttonBox {
  width: 525px;
  background-color: #900c3f;
  border-radius: 12px;
  margin-left: 385px;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#buttonBox button,
#buttonBox button:visited {
  width: 215px;
  height: 45px;
  background-color: #aa8f77;
  border: 2px outset #ffffff;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

#buttonBox button:hover {
  background-color: #ffffff;
  border-color: #000000;
  color: #900c3f;
  font-weight: 800;
  transition: all ease-in-out 1s;
}

#buttonBox button:active {
  box-shadow: 2px 3px #000000;
  border-style: inset;
  transition: all ease-in-out 1s;
}

.placeholder {
  font-size: 28px !important;
  letter-spacing: 0.55px;
  height: 50px;
  padding: 12px 0;
  background: rgba(170, 143, 119, 0.25);
}

/* Modal Dialogue Box */

.modal {
  margin: 50px auto 0 auto;
  padding: 0px 35px 50px 35px;
  width: 45%;
  height: 415px;
  top: 100px;
  left: 33%;
  background-color: rgba(144, 12, 63, 0.35);
  border: 9px ridge #aa8f77;
  box-shadow: 2px 4px 10% #900c3f;
}

.modal-head {
  width: 5%;
  height: 32px;
  margin-top: 0;
  margin-left: -34px;
  border: 3px solid #900c3f;
  text-align: center;
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-size: 36px;
  font-weight: 800;
  background-color: #900c3f;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.modal-head #x {
  display: block;
  margin-top: -7px;
  cursor: pointer;
}

.modal-head:hover {
  background-color: #ffffff;
  color: #900c3f;
  border: 3px inset #808080;
}

/* Modal content styling */

.modal-content {
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.55px;
  font-weight: 600;
}

.modal-content h1 {
  font-size: 36px;
  font-weight: 800;
  color: #ffffff;
  font-variant: small-caps;
  letter-spacing: 1px;
  margin-bottom: 35px;
  text-align: center;
  text-shadow: 3.5px 4.5px 5px #900c3f;
}

.modal-content hr,
.modal-content #bottom {
  height: 3.5px;
  background-color: #900c3f;
  margin-bottom: 35px;
}

.modal-content #input1,
               #input2,
               #input3 {
  margin: 25px 0;
}

.modal-content #input1 input,
.modal-content #input2 input,
.modal-content #input3 input {
  height: 25px;
  width: 300px;
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-variant: small-caps;
  color: #808080;
  background-color:snow;
  border: 3px solid #900c3f;
  border-radius: 12px;
  padding: 3px 15px;
}

#input1 label,
#input2 label,
#input3 label {
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 800;
  color: #900c3f;
  padding-right: 15px;
}

#input1 label::before {
  content: '\2007\2007\2007\2007
  \2007\2007\2007\2007\2007';
}

#input2 label::before {
  content: '\2007\2007';
}

#newBreed,
#reset {
  height: 45px;
  background-color: rgba(170, 143, 119, 0.5);
  color: #900c3f;
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-size: 19.5px;
  font-weight: 700;
  font-variant: small-caps;
  border: 3px outset #c0c0c0;
  border-radius: 15px;
  padding: 6px 12px;
  cursor: pointer;
  outline: none;
}

#newBreed {
  width: 250px;
  margin-right: 25px;
}

#reset {
  width: 125px;
}

#newBreed:hover,
#reset:hover {
  border-style: inset;
  background-color: #900c3f;
  color: #d47623;
  font-size: 20.5px;
  font-weight: 800;
  box-shadow: 3px 4px 6px #e9095f;
  transition: all ease-in-out 0.5s;
}

#newBreed:active,
#reset:active {
  border-style: inset;
  background-color: #900c3f;
  color: #ff7700;
  font-size: 21px;
  font-weight: 800;
  box-shadow: 4px 5px 6px #e9095f;
  transition: all ease-in-out 0.25s;
}

.visible {
  display: visible;
}

.invisible {
  display: none;
}
