/* Base font for page typography */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Global typography */

body {
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: 0.6px;
}

/* Styling for headings */

h1 {
  font-size: 3.25rem;
}

h2 {
  font-size: 2.85rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.35rem;
}

h6 {
  font-size: 1rem;
  font-variant: small-caps;
}

/* <header> styling */

header {
  position: sticky;
  top: 0;
  width: 98%;
  margin: 0 auto 50px auto;
  background-color: #aa8f77;  /* Patterned after pug fur */
  padding: 3px 0;
}

header h1 {
  font-weight: 700;
  font-variant: small-caps;
  letter-spacing: 1.25px;
  color: #ffffff; /* White */
  text-align: center;
  text-shadow: 3.5px 4.5px 5px #900c3f;
}

/* <main> styling */

main {
  margin-top: 50px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  z-index: 99;
}

/* Table styling */

table#dogList {
  width: 850px;
  margin: 12px auto 75px auto;
  border: 2px outset #aa8f77;
  border-collapse: collapse;
}

table#dogList caption {
  caption-side: bottom;
  font-size: 23px;
  margin: 0;
  padding: 3px 0;
  font-weight: 700;
  font-variant: small-caps;
  letter-spacing: 1px;
  text-shadow: 2.5px 3.5px 4.5px #900c3f;
  color: #ffffff;
  background-color: #aa8f77;
  border: 2px outset #aa8f77;
}

table#dogList th {
  border: 2.5px solid #900c3f;
  border-collapse: collapse;
  background-color: #aa8f77;
  color: #ffffff;
  padding: 9px 15px;
  font-size: 21px;
  font-weight: 800;
  font-variant: small-caps;
  letter-spacing: 1.5px;
  text-align: center;
}

table#dogList td {
  border: 2.5px solid #900c3f;
  border-collapse: collapse;
  padding: 9px 15px;
  text-align: center;
  font-size: 21px;
  font-weight: 800;
  color: #900c3f;
}

.placeholder {
  font-size: 28px !important;
  letter-spacing: 0.55px;
  height: 50px;
  padding: 12px 0;
  background: rgba(170, 143, 119, 0.25);
}

/* Button Bar styling */

div#buttonControls {
  width: 625px;
  background-color: #900c3f;
  border-radius: 12px;
  margin-left: 385px;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

div#buttonControls button,
div#buttonControls:visited {
  width: 275px;
  height: 45px;
  background-color: #aa8f77;
  border: 2px outset #ffffff;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

div#buttonControls button:hover {
  background-color: #ffffff;
  border-color: #000000;
  color: #900c3f;
  font-weight: 800;
  transition: all ease-in-out 1s;
}

div#buttonControls button:active {
  box-shadow: -2px -4px -4.5px #000000;
  border-style: inset;
  border-width: 5px;
  transition: none;
}

/* Modal Dialogue Box styling */

.dialogue {
  position: fixed;
  top: 150px;
  left: 25%;
  padding: 0px 35px 50px 35px;
  width: 45%;
  height: 415px;
  background-color: rgba(144, 12, 63, 0.35);
  border: 9px ridge #aa8f77;
  box-shadow: 2px 4px 10% #900c3f;
}

.headContent {
  width: 5%;
  height: 32px;
  margin-top: 0;
  margin-left: -34px;
  border: 3px solid #900c3f;
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  background-color: #900c3f;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.headContent #xButton {
  cursor: pointer;
}

.headContent:hover {
  background-color: #ffffff;
  color: #900c3f;
  border: 3px inset #808080;
}
